* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.text-me {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}